body {
  max-width: 600px;
  margin: 0;
}

h1 {
  font-size: 1.3rem;
  margin-right: 20rem;
}

Header {
  display: flex;
}

.hidden {
  display: none;
}

.menuFlexBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: orange;
  z-index: 100;
  position: fixed;
  padding: 0;
  margin: 0;
  text-align: right;
  max-width: 600px;
}

.Menu {
  margin-top: 3rem;
  font-size: 1.5rem;
}

button {
  z-index: 101;
  background-color: transparent;
  border-color: transparent;
  align-content: center;
}

.menuButtonImg {
  height: 2rem;
  width: 2rem;
}

nav {
  padding: 1rem;
}

.heroImg {
  width: 100%;
  margin: 0;
}
.bookConsultationBox {
  background-color: orange;
  max-width: 100%;
  padding: 1rem;
}

.bookConsultationBox h2 {
  font-size: 2rem;
  margin: 0px;
}

.bookConsultationText {
  font-weight: bold;
  font-size: 1.2rem;
}

.phoneNumber {
  color: white;
  font-size: 1.2rem;
}

figure img {
  width: 100%;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.howItWorks {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2.5rem;
}

.smallImages {
  max-width: 60%;
  align-items: center;
  margin: 0 auto;
}

.footerTitles,
.findUs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.footerTitles {
  padding-right: 1rem;
}

/* .findUs {
    padding-left: 1rem;
} */
.socialMedia {
  padding: 0;
  margin: 0;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  margin: 0;
  padding-bottom: 6rem;
}

a {
  color: black;
}

/* Founders Page  */

.orangeBox {
  background-color: orange;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  }
  
   .orangeTitle{
      font-size: 2.5rem;
      padding-left: 2rem;
  }
